<ion-view title="Entry" id="page2">
  <ion-content padding="true" class="has-header">
    <button id="entry-button1" class="button button-positive  button-block" ng-click="scanBarcode()">Scan Barcode</button>
    <form id="entry" name="entry" class="list">
      <label class="item item-input item-stacked-label" id="entry-input1">
        <span class="input-label">Barcode</span>
        <input type="text" placeholder="Barcode" id="Barcode" name="Barcode" ng-model="data.barcode" required>
      </label>
    <div id="entry-button-bar2" class="button-bar">
      <!--<button class="button button-positive  button-block" >{{status}} {{entry.$invalid}} </button>-->
      <button id="entry-button13" class="button button-positive  button-block" ng-click="startEntry()" ng-disabled="status != 'New' || entry.$invalid ">Start</button>
      <button id="entry-button15" class="button button-positive  button-block" ng-click="completeEntry()" ng-disabled="status != 'Start'">Complete</button>
    </div>
    </form>

  </ion-content>
</ion-view>
