<ion-view title="Packaging" id="page4">
  <ion-content padding="true" class="has-header">
    <button id="packaging-button20" class="button button-positive  button-block">Create Package</button>
    <button id="packaging-button21" class="button button-positive  button-block">Scan Panel</button>
    <form id="packaging-form5" class="list">
      <label class="item item-input item-stacked-label" id="packaging-input10">
        <span class="input-label">Barcode</span>
        <input type="text" placeholder="Barcode">
      </label>
    </form>
    <ion-list id="packaging-list1">
      <ion-item id="packaging-list-item4">Item 1</ion-item>
      <ion-item id="packaging-list-item5">Item 2</ion-item>
      <ion-item id="packaging-list-item6">Item 3</ion-item>
    </ion-list>
    <button id="packaging-button22" class="button button-positive  button-block">Submit</button>
  </ion-content>
</ion-view>