<ion-view title="Testing" id="page3">
  <ion-content padding="true" class="has-header">
    <button id="testing-button17" class="button button-positive  button-block">Scan Barcode</button>
    <form id="testing-form2" class="list">
      <label class="item item-input item-stacked-label" id="testing-input2">
        <span class="input-label">Barcode</span>
        <input type="text" placeholder="Barcode">
      </label>
    </form>
    <button id="testing-button18" class="button button-positive  button-block">Read Data</button>
    <form id="testing-form4" class="list">
      <label class="item item-input" id="testing-input5">
        <span class="input-label">Voc</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="testing-input6">
        <span class="input-label">Isc</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="testing-input7">
        <span class="input-label">Pmax</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="testing-input8">
        <span class="input-label">Vload</span>
        <input type="text" placeholder="">
      </label>
      <button id="testing-button19" class="button button-positive  button-block">Save</button>
    </form>
  </ion-content>
</ion-view>